//////////////////////////////////////////////////////////////
///////////////////////// VARIABLES //////////////////////////
//////////////////////////////////////////////////////////////

$size-Mobile: 375px;
$size-Desktop: 1440px;

// Primary color

$color-Moderate-violet: hsl(263, 55%, 52%);
$color-Very-dark-grayish-blue: hsl(217, 19%, 35%);
$colro-Very-dark-blackish-blue: hsl(219, 29%, 14%);
$color-White: hsl(0, 0%, 100%);

// Neutral color

$color-Light-gray: hsl(0, 0%, 81%);
$color-Light-grayish-blue: hsl(210, 46%, 95%);

// Note for text colors:

// 1. "Verified Graduate" has the same color as the person's name with 50% opacity
// 2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

// Typography

$typ-Font-size: 13px;

// - Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
// - Weights: 500, 600

* {
    // se comentan los margenes en cero por que se está utilizando nromalize.cc
    // margin: 0px;
    // padding: 0px;
    box-sizing: border-box;
    font-size: $typ-Font-size;
    font-family: "Barlow Semi Condensed", sans-serif;
}

//////////////////////////////////////////////////////////////
///////////////////////// ELEMENTOS //////////////////////////
//////////////////////////////////////////////////////////////

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-Light-grayish-blue;
}
#container {
    width: 82%;
    height: 82%;
    // padding: 120px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    // grid-template-columns: repeat(4, minmax(220px, 1fr));
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    gap: 25px;
}
.card {
    background-color: $color-Moderate-violet;
    border-radius: 10px;
    color: $color-White;
    padding: 30px;

    .card-header {
        display: grid;
        grid-template-rows: 15px 15px;
        grid-template-columns: 30px 1fr;
        column-gap: 15px;
        margin-bottom: 20px;

        .header-image {
            grid-row: 1 / span 2;
            border-radius: 50px;
            border: 2px solid rgba($color: $color-White, $alpha: 0.5);

            img {
                width: 100%;
                border-radius: 50px;
                border-color: white;
            }
        }
        .card-name {
            font-weight: 600;
            letter-spacing: 0.07rem;
            line-height: 0px;
        }
    }
    .card-verification {
        color: rgba($color: $color-White, $alpha: 0.5);
        line-height: 0px;
    }
    .card-main {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 20px;
        letter-spacing: 0.05rem;
    }
    .card-text {
        color: rgba($color: $color-White, $alpha: 0.3);
    }
}

#daniel {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;

    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0%;
}
#jhonathan {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    background-color: $color-Very-dark-grayish-blue;
}
#jeanette {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background-color: $color-White;

    #jeanette-header {
        h3 {
            color: $color-Very-dark-grayish-blue;
        }
        p {
            color: rgba($color-Very-dark-grayish-blue, 0.5);
        }
    }
    #jeanette-main {
        color: $color-Very-dark-grayish-blue;
    }
    #jeanette-text {
        color: rgba($color-Very-dark-grayish-blue, 0.7);
    }
}
#patrick {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    background-color: $colro-Very-dark-blackish-blue;

    #jeanette-header {
        h3 {
            color: $color-Very-dark-grayish-blue;
        }
        p {
            color: rgba($color: $color-Very-dark-grayish-blue, $alpha: 0.5);
        }
    }
}
#kira {
    grid-row: 1 / span 2;
    grid-column: 4 / span 1;
    background-color: $color-White;

    #kira-header {
        h3 {
            color: $color-Very-dark-grayish-blue;
        }
        p {
            color: rgba($color: $color-Very-dark-grayish-blue, $alpha: 0.5);
        }
    }
    #kira-main {
        color: $color-Very-dark-grayish-blue;
    }
    #kira-text {
        color: rgba($color: $color-Very-dark-grayish-blue, $alpha: 0.7);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

//////////////////////////////////////////////////////////////////
///////////////////////// MEDIA QUERIES //////////////////////////
//////////////////////////////////////////////////////////////////

@media screen and (orientation: portrait) and (max-width: 375px) {
    #container {
        padding-top: 15%;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: minmax(220px, 1fr);
    }
    .card {
        .card-main {
            font-size: 1.5rem;
        }
    }

    #daniel {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
    #jhonathan {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    #jeanette {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }
    #patrick {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
    }
    #kira {
        grid-row: 5 / span 1;
        grid-column: 1 / span 1;
    }
}
